In [2]:
# Q 1: Modify the first item (22) of a list inside a following tuple to 222 ?
# tuple1 = (11, [22, 33], 44, 55)

tuple1 = (11, [22, 33], 44, 55)   #define the tuple1
list0=list(tuple1)                #convert tuple1 to list0
list0[1][0]=222                   # innerlist element 22 is change 222
print("The updated tuple is :",tuple1)     #print output

The updated tuple is : (11, [222, 33], 44, 55)

In [13]:
#Q 2: Count the number of occurrences of item 50 from a tuple ?
# tuple1 = (50, 10, 60, 70, 50)

tuple1 = (50, 10, 60, 70, 50)     #define tuple1
count=0                           #define the count variable to check the occurence

for i in tuple1:
    if(i==50):
        count=count+1
print("Count the number of occurrences of item ",i, ":",count)    #print the count

Count the number of occurrences of item  50 : 2

In [18]:
# Q 3: Write a Python program to convert a list to a tuple

list1=[]
n=int(input("enter the size of list: "))    #size of list
for i in range(0,n):                       #add elements in list
    ele=input("enter the element ")
    list1.append(ele)
print(list1)
a=tuple(list1)                        #convert list to tuple   
print("list is covert into tuple:",a)    #output tuple

enter the size of list: 5
enter the element 1
enter the element 2
enter the element 3
enter the element 4
enter the element 5
['1', '2', '3', '4', '5']
list is covert into tuple: ('1', '2', '3', '4', '5')

In [22]:
# Q 4: Returns a new set with all items from both sets by removing duplicates
#set1 = {10, 20, 30, 40, 50}
#set2 = {30, 40, 50, 60, 70}


set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}  #define 2 sets
set3=set1.union(set2)       #using set operation function to add
print("new set",set3)       # new set

new set {70, 40, 10, 50, 20, 60, 30}

In [27]:
# Q5: Merge following two Python dictionaries into one
 #dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
 #dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}  #define 2 dictionaries
dict3=dict1.update(dict2)                         #add dictionaries using update function
print("merge the dict is: ",dict1)                #merged list

merge the dict is:  {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [28]:
# Q6: Given a Python dictionary, Change Brad’s salary to 8500
#sampleDict = {
 #'emp1': {'name': 'Jhon', 'salary': 7500},
 #'emp2': {'name': 'Emma', 'salary': 8000},
 #'emp3': {'name': 'Brad', 'salary': 6500}}

sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}      #define  dictionary
}

sampleDict['emp3']['salary']=8500          #  Change Brad’s salary to 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [31]:
# Q7: Rename key city to location in the following dictionary
# sampleDict = {"name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,                                #define dictionary
 "city": "New york"
}
sampleDict["location"]=sampleDict.pop("city") #using the pop function 
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}